<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear, <%= @user.name %></h1>
<p>
  You have purchased the promise: <%= @promise.description %>.
  <br>
  To approve, click <a href="<%= @url %>">here</a>, or go to <%= @url %>
</p>
</body>
</html>